{% extends "base.html" %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
      <p class="title">
        Add a new plant!
      </p>
      <p class="subtitle">
        Add a new buddy to your roster!
      </p>
    </div>
  </section>
  <div class="bg-img">
  <div class="columns">
  <div class="column is-three-fifths is-offset-one-fifth">
    <form action="" method="post" novalidate>
       <div class="field">
          {{form.name.label(class="label")}}
          {{form.name(class="input is-primary")}}
       </div>
       <div class="field">
          {{form.gender_choice.label}}
          {{form.gender_choice(class="select")}}
       </div>
       <div class="field">
          {{form.personality_choice.label}}
          {{form.personality_choice(class="select")}}
       </div>
       <div class="field">
          {{form.plant_type.label}}
        <div class="control">
          {{form.plant_type(class="input is-primary")}}
        </div>
       </div>
       <div class="field">
          {{form.sensor_choice.label}}
          {{form.sensor_choice(class="select")}}
       </div>
       {{form.submit(class="button is-primary")}}
    </form>
    </div>
  </div>
</div>
{%endblock%}