{% extends "base.html" %}{% block content %}
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                All the plant jokes you desire!
            </p>
            <p class="subtitle">
                Add your jokes
            </p>

            <form action="" method="post" novalidate>
                <div class="field">
                    {{ form.text(class='textarea is-success') }}
                    {{ form.submit(class='button is-success is-light') }}
                </div>
            </form>
    </section>
{% endblock %}