<!doctype html>
<html>
    <head>
        <meta charset= "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="../static/style.css">
        
        {% if title %}
        <title>{{ title }} Plant Pal</title>
        {% else %}
        <title>Welcome to Plant Pal</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item">
                
                <img src="{{url_for('static', filename='plant_photos/plant_pal_logo_bright_s.png')}}" width="112" height="28">
              </a>
          
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
      
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('index') }}">Home</a>
          
                <a class="navbar-item" href="{{ url_for('my_plants') }}">
                  Weekly Overview
                </a>

                <a class="navbar-item" href="{{ url_for('search') }}">
                  Search Plants
                </a>

                <a class="navbar-item" href="{{ url_for('get_connected_plants') }}">
                  Connected Plants
                </a>

                <a class="navbar-item" href="{{ url_for('configure_plant') }}">
                  Configure Plant
                </a>

                </div>
              </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary" href="{{ url_for('login') }}">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="{{ url_for('login') }}">Login</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </nav>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2022 by <a href="http://domain.invalid/">you</a>.
            {% endblock %}
    </body>
</html>