<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" href="../static/node_modules/bulma/css/mystyles.css">
    <link rel="stylesheet" href="../static/style.css">

    {% if title %}
        <title>{{ title }} - Plant Pal</title>
    {% else %}
        <title>Welcome to Plant Pal</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar is-ev_dark_brown" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="{{url_for('static', filename='plant_photos/plant_pal_logo_bright_s.png')}}" width="112" height="28">
              </a>
          
            </div>
      
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                  <a class="navbar-item" href="{{ url_for('my_plants') }}">
                      Weekly Overview
                  </a>
      
                  <a class="navbar-item" href="{{ url_for('search') }}">
                      Search Plants
                  </a>
      
                  <a class="navbar-item" href="{{ url_for('get_connected_plants') }}">
                      Connected Plants
                  </a>
      
                  <a class="navbar-item" href="{{ url_for('jokes') }}">
                      Plant jokes
                  </a>
      
                  <a class="navbar-item" href="{{url_for('add_plant') }}">
                    Add New Plant
                  </a>
      
              </div>
          </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-primary" href="{{ url_for('login') }}">
                      <strong>Sign up</strong>
                    </a>
                    <a class="button is-light" href="{{ url_for('login') }}">Login</a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </nav>

        <div class="content">
          {% block content %}
          {% endblock %}
        </div>

        <footer class='footer has-background-ev_dark_brown mt-auto'>
          <div class='content has-text-pp_bright_green'>
            {% block footer %}
                &copy; Copyright 2022 by <a href="http://domain.invalid/">you. Powered by OpenRemote.</a>
            {% endblock %}
          </div>
        </footer>
    
    </body>
</html>