{% extends "base.html" %}

{% block content %}
<section class="hero is-ev_dark_brown">
    <div class="hero-body">
      <p class="title">
        Configure a plant
      </p>
      <p class="subtitle">
        Choose sensor & name for your friend!
      </p>
    </div>
  </section>
  <div class="bg-img">
  <section class="section">
      <div class="columns">
      <div class="column">
         <div class="content">
            <div class="subtitle">
               This is your plant now: 
            </div>
            <p>
               Although you can't change your buddy on the outside or inside, you can change how Plant Pal can help you.
               Here's what attributes you can change, and how they'll affect your day-to-day experience and even your plant's mood:
               <ul>
               <li>Name - this changes how the system will refer to your buddy. If you ask how Frank is doing, Plant Pal immediatelly will know what you're reffering to.</li>
               <li>Gender - this refers to how your plants will talk back to you. If you would like the plant to be voiced by a female or male voice is up to you. 
                  Consequently, we don't really care what gender you choose, and neither does your plant buddy.</li>
               <li>Personality - Your buddy's personality is mostly affected by how well you take care of them. Personality will affect the nature of responses you will receive from the plants. 
                  However, if you're not in the mood for snappy comebacks and sass, you can always override their personality.
                  Be mindful though, eventually they'll let you know of the consequences of your own actions. 
               </li>
               <li>Plant type - This is one of the most important things to get right, if you want Plant Pal to function correctly. 
                  By specifying the botanical name of your green buddy, you let Plant Pal know how to keep track of your plant.
                  We take the care instructions based on the botanical name, and let your plant talk for itself - how much water, light and attention it needs.
               </li>
               <li>
                  Sensor - This corresponds to the plants assigned plant sensor. If you ever want to double check who's who.
               </li>
               </ul>
            </p>
         </div>
         
      </div>
      <div class="column">
         <form action="" method="post" novalidate>
            <div class="field">
               {{form.name.label(class="label")}}
               {{form.name(class="input is-primary")}}
            </div>
            <div class="field">
               {{form.genders.label}}
               {{form.genders(class="select")}}
            </div>
            <div class="field">
               {{form.personality_choice.label}}
               {{form.personality_choice(class="select")}}
            </div>
            <div class="field">
               {{form.plant_type.label}}
               {{form.plant_type(class="input is-primary")}}
            </div>
            <div class="field">
               {{form.sensor_choice.label}}
               {{form.sensor_choice(class="select")}}
            </div>
            {{form.submit(class="button is-primary")}}
         </form>
         </div>
      </div>
   </section>
</div>
{% endblock %}