{% extends "base.html" %}

{% block content %}
<div class="bg-img">
    <section class="section">
        <div class="container">
            <!-- 	Card template	 -->

            <div class="columns">
                {% for result in results %}
                <div class="column">
                    
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="{{result.image}}" alt="Plant image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="content">
                                <p>Name: {{result.name}}</p>
                                <p>Gender: {{result.gender}}</p>
                                <p>Personality: {{result.personality}}</p>
                                <p>Plant Type: {{result.p_type}}</p>
                            </div>
                        </div>
                        <footer class="card-footer">
                            <a href="/configureplant/{{result.index}}" class="card-footer-item">Configure</a>
                            <a href="/moreinfo/{{result.index}}" class="card-footer-item">More info</a>
                        </footer>
                    </div>


                </div>
                {% endfor %}
            </div>

        </div>
    </section>
</div>
{% endblock %}