{% extends "base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <!-- 	Card template	 -->
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        <br>
                        <time datetime="2016-1-1">Last measured: 09:35 PM - 19 May 2022</time>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Check status</a>
                </footer>
                </div>
            </div>
        </div>
    </section>
{% endblock %}