{% extends "base.html" %}{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                All the plant jokes you desire!
            </p>

            <p class="subtitle">
                Configure your jokes
            </p>


        </div>
    </section>
    <section class="column is-11 ">
        <table class="table is-striped ">
            <thead>
            <tr>
                <th><abbr title="Id">Id</abbr></th>
                <th><abbr title="Text">Text</abbr></th>
                <th><abbr title="Action">Action</abbr></th>
                <th>
                    <form action="/jokes/reset">
                        <button class="button is-cl_yellow"> Reset</button>
                    </form>
                </th>
                <th>
                    <form action=""><a class="button is-primary" href="{{ url_for('joke_add') }}"> Add</a></form>
                </th>

            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result['_id'] }}
                    </td>
                    <td>{{ result['text'] }}</td>
                    <td>
                        <form action="/jokes/delete/{{ result['_id'] }}" method="POST" class="button is-danger">
                            <button class="button is-danger" type="submit" name="joke_id" value="{{ result['_id'] }}">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}