{% extends "base.html" %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
      <p class="title">
        {{result.name}}
      </p>
      <p class="subtitle">
        {{result.p_type}}, your lovely {{result.personality}} friend!
      </p>
    </div>
</section>

<div class="bg-img">
  <section class="section">
   <div class="columns is-2">
      <div class="column">
         <div class="card">
               <div class="card-header">
                  <div class="card-header-title">
                     Let's check what we have on {{result.name}}
                  </div>
               </div>
            <div class="card-content">
               <div class= "content">
                  <figure class="image is-128x128">
                     <img class="is-rounded" src="{{result.image}}" alt="Plant image">
                  </figure>
                  <div class="subtitle">
                     Cultivation info:
                  </div>
                  <p>
                     {{result.care_instructions}}
                  </p>
                  <div class="subtitle">
                     Care difficulty rating:
                  </div>
                  <span class="tag is-primary is-medium">
                  {{result.care_difficulty}}
                  </span>
               </div>
            </div>
         </div>
      </div>

      <div class="column">
         <div class="card">
            <div class="card-content">
               <div class="content">
                  <div class="subtitle">
                     Assigned data:
                  </div>
                  <div class="field">
                     Given name: {{result.name}}
                  </div>
                  <div class="field">
                     Given gender: {{result.gender}}
                  </div>
                  <div class="field">
                     Personality: {{result.personality}}
                  </div>
                  <div class="field">
                     Botanical name/species: {{result.p_type}}
                  </div>
                  <div class="field">
                     Common names: {{result.p_type}}
                  </div>
               </div>
         </div>
      </div>
   </div>
   </div>
   </section>
</div>
{% endblock %}