{% extends "base.html" %}

{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
      <p class="title">
        Check on your friends!
      </p>

      <p class="subtitle">
        Check the status of each of your connected plants
      </p>

    </div>
  </section>


  <!-- dashboard elements start here -->

  <header class="hero is-cl_yellow">
    <div class="hero-head">
      <nav class="nav has-shadow">
      </nav>
    </div>
  </header>
  
  <div class="section has-background-primary-light">
    <div class="columns">
      <aside class="column is-2">
        <nav class="menu">
          <p class="menu-label">
            General
          </p>
          <ul class="menu-list">
            <li><a>Dashboard</a></li>
            <li><a>Plants</a></li>
          </ul>
          <p class="menu-label">
            Settings
          </p>
          <ul class="menu-list">
            <li><a>Settings</a></li>
            <li>
              <a class="">Manage Your Plants</a>
              <ul>
                <li><a>View Systems</a></li>
                <li><a>Tips & Info</a></li>
                <li><a>Plugins</a></li>
                <li><a>Add a plant</a></li>
              </ul>
            </li>
            <li><a>Co-manage</a></li>
            <li><a>Authentication</a></li>
          </ul>
          <p class="menu-label">
            Preferences
          </p>
          <ul class="menu-list">
            <li><a>Your Preferences</a></li>
            <li><a>Voice Assistant</a></li>
            <li><a>Layout</a></li>
          </ul>
        </nav>
      </aside>
      
      <main class="column">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <div class="title">Weekly Summary</div>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <button type="button" class="button is-small button is-primary is-rounded">
                June 12, 2022 - June 18, 2022
              </button>
            </div>
          </div>
        </div>
<div class="bg-img">
        <div class="columns is-multiline">
          <div class="column">
            <div class="box">
              <div class="heading">Total connected plants</div>
              <div class="title">3 Buddies</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">Frank</div>
                    <div class="title is-5">&#128526;</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Patricia</div>
                    <div class="title is-5">&#128525;</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Señor</div>
                    <div class="title is-5">&#10060;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="box">
              <div class="heading">Your best performer</div>
              <div class="title">Frank &#10024;</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">Hydration</div>
                    <div class="title is-5">&#128153;</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Light</div>
                    <div class="title is-5">&#128175;</div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Temperature</div>
                    <div class="title is-5">&#128076;</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
          <div class="column">
            <div class="box">
              <div class="heading">Overall Status Summary (compared to last week)</div>
              <div class="title">Good job this week!</div>
              <div class="level">
                <div class="level-item">
                  <div class="">
                    <div class="heading">
                      Best day
                    </div>
                    <div class="title is-5">
                      <div class="title is-5"><span class="tag is-success is-light">Monday</span></div>
                    </div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Worst Day</div>
                    <div class="title is-5">
                      <span class="tag is-danger is-light">Sunday</span>
                    </div>
                  </div>
                </div>
                <div class="level-item">
                  <div class="">
                    <div class="heading">Too low</div>
                    <div class="title is-5"><span class="tag is-danger">Moisture</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="columns is-multiline">
          <div class="column is-6">
            <div class="panel is-ev_dark_brown">
              <p class="panel-heading">
                Overall Moisture
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="{{url_for('static', filename='stats/weekly_hydration.png')}}">
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel is-warning">
              <p class="panel-heading">
                Overall Light Exposure
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="{{url_for('static', filename='stats/weekly_light.png')}}">
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel is-pp_orange">
              <p class="panel-heading">
                Overall Temperature
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="{{url_for('static', filename='stats/weekly_temperature.png')}}">
                </figure>
              </div>
            </div>
          </div>
          <div class="column is-6">
            <div class="panel is-primary">
              <p class="panel-heading">
                Overall happiness
              </p>
              <div class="panel-block">
                <figure class="image is-16x9">
                  <img src="{{url_for('static', filename='stats/weekly_happiness.png')}}">
                </figure>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
  {% endblock %}