
 
 <!-- 	Card template	 -->
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{url_for('static', filename=result.image)}}" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <p>Latin name: {{result.plant_name}}</p>
                        <p>Common names: {{result.common_names}}</p>
                        <p>cultivation: {{result.cultivation}}</p>
                        <p>Soil type: {{result.soil_type}}</p>
                        <p>Soil drainage: {{result.soil_drainage}}</p>
                        <p>Soil pH: {{result.soil_ph}}</p>
                        <p>Light: {{result.light}}</p>
                        <p>Placement aspect: {{result.placement_aspect}}</p>
                        <p>Placement exposure: {{result.placement_exposure}}</p>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">Configure</a>
                    <a href="#" class="card-footer-item">More info</a>
                </footer>
                </div>
            </div>