 <!-- 	Card template	 -->
 <div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="{{url_for('static', filename=result.image)}}" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            <p>Botanical name: {{result.plant_name}}</p>
            <p>Common names: {{result.common_names}}</p>
            <p>Care level: {{result.care_level}}</p>
        </div>
    </div>
    <footer class="card-footer">
        <a href="#" class="card-footer-item has-text-centered">Add this plant type</a>
        <a href="#" class="card-footer-item">More info</a>
    </footer>
    </div>
</div>