{% extends "base.html" %}

{% block content %}
<div class="bg-img">
<section class="section">
    <div class="container">
        <div class="columns">
            {% for result in results %}
            <div class="column">
                {% include 'plant_card_short.html' %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
</div>
{% endblock %}