{% extends "base.html" %}

{% block content %}
<div class="control">
    <form action="" method="post" novalidate>
        <section class="hero is-pp_orange is">
            <div class="hero-body">

              <p class="title">
                Plant search
              </p>

              <p class="subtitle">
                Search for plants by their common name, we'll handle the rest
              </p>
              
              {{ form.hidden_tag() }}
                <p>
                    {{ form.search.label }}
                    <div class="control">
                      <p>
                        <input class="input" type="text" placeholder="try calathea makoyana" {{ form.search(size=32) }}
                      </p>
                      <br>
                    </div>
                    {% for error in form.search.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <div class="control">
                    <button class="button is-white" {{ form.submit() }} Search </button>
                  </div>
            </div>
        </section>
    </form>
</div>
{% endblock %}
