@charset "utf-8";

@import "../sass/utilities/initial-variables.sass";
@import"../sass/utilities/functions.sass";


@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

//2. Set custom initial variables

//plant pal general colors, if we don't care about any of the palettes

$pp_bright_green: #DEBC0E;
$pp_good_green: #AFA804;
$pp_underline: #5D4B00;
$pp_orange: #F07400;
$pp_bright_orange: #FFAB01;

// colorful palette

$cl_dark_green: #594302;
$cl_light_green: #A67E08;
$cl_yellow: #F29F05;
$cl_orange: #F27405;
$cl_peach: #F2C8C4;

// bright palette

$br_dark_green:#856D07;
$br_bright_green: #B99906;
$br_light_yellow: #FFB700;
$br_light_orange: #F88F00;
$br_tan: #FFE5D9;

// muted palette

$mt_brown: #594302;
$mt_green: #A67E08;
$mt_orange: #F27405;
$mt_light_peach: #F2D9D0;
$mt_peach: #F2C8C4;

// deep palette

$dp_dark_blue: #072A40;
$dp_brown: #59460D;
$dp_green: #7B6600;
$dp_orange: #F25C05;
$dp_yellow: #FFAC00;

// evergreen palette

$ev_dark_brown: #483800;
$ev_brown: #534000;
$ev_dark_green: #6C5C04;
$ev_green: #B29607;
$ev_light_green: #C4A332;

$pp_invert: #fff;

$family-sans-serif: "Segoe UI Black", "Gill Sans", "Nunito", sans-serif;

// 3. Set the derived variable & 
// 4. set up custom colors, fonts
$family-primary: $family-sans-serif;

$primary: $pp_good_green;
$primary-invert: $pp_invert;

// 5. Add new color variables to color map.

@import "../sass/utilities/derived-variables.sass";
$addColors: (
    "pp_bright_green" : ($ev_green, $pp_invert),
    "pp_orange" : ($pp_orange, $pp_invert),
    "cl_yellow" : ($cl_yellow, $pp_invert),
    "ev_dark_brown": ($ev_dark_brown, $pp_invert),
    "mt_peach": ($mt_peach, $ev_dark_brown)
);

$colors: map-merge($colors, $addColors);

//6. Import the rest of Bulma
@import '../bulma.sass';
