.container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
	grid-gap: 0.5em;
}

.card{
	height: max-content;
}

body {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

footer {
	margin-top: auto;
  }

.content {
	flex: 1;
  	display: flex;
  	flex-direction: column;
}

.base-wrapper {
	flex: 1;
  	display: flex;
  	flex-direction: column;
}

.bg-img{
	background-image: url('../static/bg.png');
	background-position: center center;
        background-repeat:  no-repeat;
        background-attachment:scroll;
        background-size:  cover;
        background-color: #f4ccc3;
}

ul.is-unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
  }