body{
    margin:0;
    padding: 0;
    background: rgb(248, 214, 150);
}

.eyes{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    width:100%;
    text-align:center;

}

.eye{
    width:240px;
    height:240px;
    background: #000;
    display: inline-block;
    margin:40px;
    border-radius:50%;
    position: relative;
    overflow: hidden;
}

.ball{
    width: 70px;
    height:70px;
    background: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.secondaryball{
    width: 30px;
    height:30px;
    background: #fff;
    position:relative;
    top:40%;
    left:30%; 
    transform: translate(-50%,-50%);
    border-radius:50%;
}


.mouth{
    position: absolute;
    top:70%;
    transform:translateY(-50%);
    width:100%;
    text-align:center;
    background: none;
    height: 5em;
}

.smile{
    background: rgb(207, 96, 11);
    display: inline-block;
    margin:40px;
    position: relative;
    overflow: hidden;
    width: 20%;
    height:100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    margin:20px;
}
.smile2{
    width: 10%;
    height: 80%;
    border-radius: 150px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 20px solid;
    top: 45px;
    position:relative;
    display:inline-block;
}

