<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "navbar.html" %}

    {% block content %}
        <h1>Hi, vanessa !</h1>
        {% for joke in jokes %}
          <!-- <div><p>id:{{joke.id}} joke: <b>{{joke.joke_text}}</b></p></div> -->
        <div><p>id: {{joke.id}} joke: {{joke.text}} </p></div>
        {% endfor %}
    {% endblock %}
</body>
</html>

